<div class="row">
    <!-- Card SEDEX -->

    <div class="col-md-4 card-body">
        <div class="card custom-card-body-r">
            <div class="card-header custom-card-header">
                <p>
                <h4 class="text-center custom-card-header">SEDEX</h4>
                </p>
            </div>
            <div class="card-body custom-card-body">

                <p class="card-text text-center">Prazo para entrega após postagem é de temposedex dia</p>

                <p class="card-text text-center">Prazo para entrega após postagem é de temposedex dias</p>

                <p class="text-center custom-texto-valor">R$ valorsedex</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 card-body">
        <!-- Card PAC -->
        <div class="card custom-card-body-r">
            <!--<img src="{URL_DA_IMAGEM_PAC}" class="card-img-top" alt="Imagem PAC">-->
            <div class="card-header custom-card-header-pac">
                <p>
                <h4 class="text-center custom-card-header-pac">PAC</h4>
                </p>
            </div>
            <div class="card-body custom-card-body">
                <p class="card-text text-center">Este endereço não possui a modalidade de
                    frete via pac</p>
                <p class="text-center custom-texto-valor">INDISPONÍVEL</p>

                <p class="card-text text-center">Prazo para entrega após postagem é de tempopac dias</p>
                <p class="text-center custom-texto-valor">R$ valorpac </p>

            </div>
        </div>
    </div>

    <div class="col-md-4 card-body">

        <div class="card custom-card-body-r">
            <!--    <img src="{URL_DA_IMAGEM_MOTOBOY}" class="card-img-top" alt="Imagem Motoboy">-->
            <div class="card-header custom-card-header-motoboy">
                <p>
                <h4 class="text-center custom-card-header-motoboy">MOTOBOY</h4>
                </p>
            </div>
            <div class="card-body">
                <p class="card-text text-center">Prazo para entrega após postagem é de 1 dia</p>

                <!-- Button trigger modal -->

                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary custom-btn-modala" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Solicitar - R$ valormotoboy
                    </button>
                </div>
            </div>
        </div>
    </div>