{% if cep %}
<div class="row">
    <!-- Card SEDEX -->
    <div class="col-md-4 card-body">
        <div class="card custom-card-body-r">
            <div class="card-header custom-card-header">
                <p>
                <h4 class="text-center custom-card-header">SEDEX</h4>
                </p>
            </div>
            <div class="card-body custom-card-body">
                {% if tempo_sedex == '1' %}
                <p class="card-text text-center">Prazo para entrega após postagem é de {{tempo_sedex}} dia</p>
                {% else %}
                <p class="card-text text-center">Prazo para entrega após postagem é de {{tempo_sedex}} dias</p>
                {% endif %}
                <p class="text-center custom-texto-valor">R$ {{valor_sedex}}</p>
            </div>
        </div>
    </div>
    <!-- Card PAC -->
    <div class="col-md-4 card-body">
        <div class="card custom-card-body-r">
            <!--<img src="{URL_DA_IMAGEM_PAC}" class="card-img-top" alt="Imagem PAC">-->
            <div class="card-header custom-card-header-pac">
                <p>
                <h4 class="text-center custom-card-header-pac">PAC</h4>
                </p>
            </div>
            <div class="card-body custom-card-body">
                <p class="card-text text-center">Prazo para entrega após postagem é de {{tempo_pac}} dias</p>
                <p class="text-center custom-texto-valor">R$ {{valor_pac}} </p>
            </div>
        </div>
    </div>
    <!-- Card MOTOBOY -->
    <div class="col-md-4 card-body">
        <div class="card custom-card-body-r">
            <!--    <img src="{URL_DA_IMAGEM_MOTOBOY}" class="card-img-top" alt="Imagem Motoboy">-->
            <div class="card-header custom-card-header-motoboy">
                <p>
                <h4 class="text-center custom-card-header-motoboy">MOTOBOY</h4>
                </p>
            </div>
            <div class="card-body">
                <p class="card-text text-center">Prazo para entrega após postagem é de 1 dia</p>
                <!-- Button trigger modal -->
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary custom-btn-modala" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Solicitar - R$ {{valor_boy}}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endif %}