{% if formulario_entrega %}
{% load crispy_forms_tags %}
<form class="row g-2" action="." method="post">
    {% csrf_token %}
    <div class="col-md-8">
        {{ formulario_entrega.nome_cliente|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ formulario_entrega.telefone|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ formulario_entrega.valor_entrega|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ formulario_entrega.hora_limite|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ formulario_entrega.numero_pedido|as_crispy_field }}
    </div>
    <div class="col-md-12">
        {{ formulario_entrega.info_adicional|as_crispy_field }}
    </div>

</form>
{% endif %}