{% extends "base.html" %}

{% block conteudo %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">N° Pedido</th>
                <th scope="col">Cliente</th>
                <th scope="col">Endereço</th>
                <th scope="col">Valor</th>
                <th scope="col">Bairro</th>
                <th scope="col">Ações</th>
                <th scope="col">Imprimir</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente_item in todas_entregas %}
            <tr>
                <th scope="row">{{ cliente_item.numero_pedido }}</th>
                <td>{{ cliente_item.nome_cliente }}</td>
                <td>{{ cliente_item.telefone }}</td>
                <td>R$ {{ cliente_item.valor_entrega }}</td>
                <td>{{ cliente_item.endereco }}</td>
                <td>
                    <a href="/" class="btn btn-primary">Editar</a>
                </td>
                <td>
                    <a href="/" class="btn btn-success">
                        <i class="fas fa-print"></i> Imprimir
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock conteudo %}
