<!-- Modal Excluir entrega-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 custom-texto-valor" id="exampleModalLabel">Excluir Entrega</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="custom-texto-valor" style="text-align: center">Tem certeza que deseja excluir a entrega deste
                    cliente ? <br> {{entrega}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger m-1" href="{% url 'delete' entrega.identificador %}">Deletar</a>
            </div>
        </div>
    </div>
</div>