{% extends "base.html" %}
{% load bootstrap %}

{% block conteudo %}

<form class="row g-3" action="{% url 'formulario' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            {{ form.nome|bootstrap }}
        </div>
        <div class="col">
            {{ form.n_pedido|bootstrap }}
        </div>
    </div>
    <div class="col-md-12">
        <label for="cep" class="form-label">CEP</label>
        <input type="int" max="9" class="form-control" id="cep" name="cep" placeholder="Digite seu CEP" aria-label="CEP"
            aria-describedby="button-addon2">
    </div>
    <input type="submit">
</form>

{% endblock conteudo %}
